/* GENERAL STYLE  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
}

/* /GENERAL STYLE  */

/* HEADER  */
.header {
    height: 100px;
}

img.logo {
    height: 100px;
    padding: 10px 20px;
    vertical-align: middle;
}

.header h1 {
    font-size: 45px;
    display: inline-block;
    vertical-align: middle;
}

/* /HEADER  */

/* MAIN  */

main {
    background-color: rgb(244, 247, 248);
    padding-top: 50px;
    padding-bottom: 20px;
}

main section {
    background-color: rgb(255, 255, 255);
}

/* Buttons section */

section.buttons {
    margin-bottom: 3px;
    padding: 20px 50px 15px;
}

.button {
    padding: 10px 20px;
    border-radius: 5px;
    border-style: solid;
}

.button-primary {
    margin-right: 5px;
    background-color: rgb(44, 161, 234);
    color: rgb(255 255 255);
    border-color: rgb(44, 161, 234);
}

.button-secondary {
    background-color: rgb(255, 255, 255);
    color: rgb(189, 196, 201);
    border-color: rgb(189, 196, 201);
}

/* /Button  */

/* List  */
section.list {
    padding: 40px 0;
}

section.list li {
    list-style-type: none;
}

.main-list {
    margin-left: 50px;
}

.main-list>li {
    padding-top: 40px;
}

.main-list>li:first-of-type {
    padding-top: 0;
}

.internal-list li {
    padding-top: 10px;
}

.toggle {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid rgb(0, 0, 0);
    display: inline-block;
    vertical-align: middle;
}

.mark {
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    font-weight: 900;
    text-align: center;
}

.checked {
    border-color: rgb(101, 197, 178);
    color: rgb(101, 197, 178);
}

.not-checked {
    border-color: rgb(239, 0, 0);
    color: rgb(239, 0, 0);
}

.tag {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.editorial {
    background-color: rgb(42, 159, 226);
}

.q1-goals {
    background-color: rgb(149, 98, 219);
}

.recruiting {
    background-color: rgb(74, 184, 160);
}

.mobile {
    background-color: rgb(247, 149, 60);
}

.website {
    background-color: rgb(219, 86, 149);
}

.sales {
    background-color: rgb(162, 195, 57);
}

/* /MAIN  */